body {
    font: 13px arial, sans-serif;
    margin-top: 23px;
}

a {
    color: black;
    opacity: 0.75;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    margin-bottom: 27px;
}

.searchbar {
    height: 41px;
    font: 16px arial, sans-serif;
    display: block;
    margin: 0 auto;
    width: 41%;
    border: 1px solid #dfe1e5;
    border-radius: 22px;
}

body .buttons {
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 9px 16px;
    margin: 30px 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.buttons {
    display: inline-block;
    position: relative;
    left: 40%;
    -webkit-appearance: none;
    border-radius: 4px;
}

ul {
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

a:visited {
    color: #609;
}

#startnav {
    padding-left: 16px;
}

#endnav {
    float: right;
    padding-right: 16px;
}

.foot {
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    display: inline;
}

#startfoot {
    padding-left: 27px;
}

#endfoot {
    padding-right: 27px;
    float: right;
}
/* float right reversing order*/